{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">{{ "now"|date('l, F jS') }}</span>
            {% if wordcount >= 130 %}
                <div class="alert alert-success" style="display:inline-block">
                    <span>{{ wordcount }} Words Today</span>
                    <span><i class="fa fa-check"></i></span>
                </div>
            {% else %}
                <div class="alert alert-info" style="display:inline-block">
                    {{ wordcount }} Words Today
                </div>
                <div class="alert alert-danger" style="display:inline-block">
                    Need to write {{ 130 - wordcount }} more words for 130 words today!
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-9">
            <h2><i class="fa fa-pencil" aria-hidden="true"></i> Posts</h2>
            {% if posts is empty %}
                <span>You haven't written yet today!</span>
            {% else %}
                <table class="table table-borderless table-hover">
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td style="white-space: nowrap;">
                                <strong>{{ post.category.name }}</strong>
                            </td>
                            <td style="width: 100%;">
                                <a href="{{ path('postEdit', {'id' : post.id}) }}">{{ post.body[:40] ~ '...' }}</a>
                            </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            {% endif %}

            <hr>

            <h2><i class="fa fa-folder-open" aria-hidden="true"></i> New Post By Category</h2>
            {% for category in categories %}
                <a
                        href="{{ path('newPostByCategory', {'category_id' : category.id}) }}"
                        class="btn btn-default"
                        style="margin: 4px 2px;"
                >
                    {{ category.name }}
                </a>
            {%  endfor %}
        </div>



        <div class="col-md-3">
            <h1><i class="fa fa-users" aria-hidden="true"></i> Community</h1>

            <h2>Today</h2>
            {% if todayUsers is empty %}
                <p>No posts yet today.  Be the first!</p>
            {% else %}
                <table class="table table-borderless table-hover">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Words</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for username, user in todayUsers %}
                        <tr>
                            <td style="white-space: nowrap;">
                                {{ username }}
                            </td>
                            <td style="width: 100%;">
                                {{ user.wordcount }}
                            </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            {% endif %}

            <h2>Yesterday</h2>
            {% if yesterdayUsers is empty %}
                <p>No posts yesterday.</p>
            {% else %}
                {% for username, user in yesterdayUsers %}
                    {{ username }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}