<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Humans Game{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block css %}
        <link rel="stylesheet" href="{{ asset('bundles/humansgame/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/humansgame/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/humansgame/css/main.css') }}">
    {% endblock %}
</head>
<body>
{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
    <script src="{{ asset('bundles/humansgame/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/humansgame/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>