<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}130 Words{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block css %}
        <link rel="stylesheet" href="{{ asset('bundles/onethirtywords/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/onethirtywords/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/onethirtywords/css/main.css') }}">
    {% endblock %}
</head>
<body>
{% block nav %}
    {% include 'nav.html.twig' %}
{% endblock %}

{% include 'today.html.twig' %}
{% include 'message.html.twig' %}

{% block content %}
{% endblock %}

{% block js %}
    <script src="{{ asset('bundles/onethirtywords/js/analytics.js') }}"></script>
    <script src="{{ asset('bundles/onethirtywords/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/onethirtywords/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/onethirtywords/js/wordcount.js') }}"></script>
{% endblock %}
</body>
</html>