{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <ul class="nav" style="float: left;">
        {% if app.session.get('human') is null and app.user.humans is not empty %}
            {% for human in app.user.humans %}
                <li><a href="{{ path('human_being', {'id' : human.id}) }}" class="btn btn-default">{{ human.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
        {% if app.session.get('human') is null %}
            <li><a href="{{ path('human_create') }}" class="btn btn-primary">New Human</a></li>
        {% endif %}
    </ul>

    {# Right #}
    <ul class="nav" style="float: right;">
        {% if app.session.get('human') is not null %}
            {% set human = app.session.get('human') %}
            <li>
                {#<a href="{{ path('human', {'id' : human.id}) }}">#}
                    <i class="fa fa-user"></i> <strong>{{ human.name }}</strong>
                {#</a>#}
            </li>
            <li><a href="{{ path('human_unset') }}" style="padding: 0">Change</a></li>
        {% endif %}
    </ul>

{% endif %}