<nav class="navbar navbar-default text-uppercase">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#onethirtywords-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">130 Words</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="onethirtywords-navbar-collapse-1">
            {% if app.user is not null %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}" class="navbar-link">Home</a></li>
                    <li><a href="{{ path('newPost') }}" class="navbar-link">Write</a></li>
                    <li><a href="{{ path('getPosts') }}" class="navbar-link">Posts</a></li>
                    <li><a href="{{ path('getCategories') }}" class="navbar-link">Categories</a></li>
                    <li><a href="{{ path('community') }}" class="navbar-link">Community</a></li>
                </ul>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <ul class="nav navbar-nav navbar-right nav-user-container">
                    <li class="hidden-xs hidden-xs">
                        <a href="{{ path('getUser', {'user' : app.user.id}) }}" class="navbar-link" style="display: inline-block;">{{ app.user.displayName }}</a>
                        <span class="badge" title="days you've written 130 words :)">
                            {{ one_thirty_service.getUser130WordsCount(app.user) }}
                        </span>
                        {% set streak = one_thirty_service.getUser130WordsStreak(app.user) %}
                        <span class="badge" title="consecutive days you've written 130 words" style="background-color: {{ streak > 0 ? '#468847' : '#d9534f' }}">
                            streak: {{ streak }}
                        </span>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_logout') }}">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_login') }}" class="navbar-link">Sign In</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}" class="navbar-link">Register</a></li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>