{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row post">
            <div class="post-header col-xs-12 col-md-2">
                <h1>{{ post.date|date('l, F jS') }}</h1>
                <div>
                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                    {{ post.category ? post.category.name : "Unknown"}}
                </div>
            </div>
            <div class="post-body col-xs-12 col-md-8">
                {% if form is defined %}
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="form-group">
                        {{ form_widget(form.body, {'attr': {'class': 'form-control count_this'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-md-2">
                {% include 'OneThirtyWordsBundle:Widgets:wordcount.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}