{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1>Posts <span class="badge">{{ posts|length }}</span></h1>
        <table class="table table-borderless table-hover">
            <thead>
            <tr>
                <th>Category</th>
                <th>Date</th>
                <th>Words</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td style="white-space: nowrap;">
                        {{ post.category ? post.category.name : "Uncategorized" }}
                    </td>
                    <td style="white-space: nowrap;">
                        {{ post.date|date('l, F jS, Y') }}
                    </td>
                    <td style="width: 100%;">
                        <a href="{{ path('getPost', {'post' : post.id}) }}">{{ post.body[:40] ~ '...' }}</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}