{% extends '::base.html.twig' %}

{% block content %}
    <h1><i class="fa fa-folder" aria-hidden="true"></i> {{ category.name }} <span class="badge">{{ posts|length }}</span></h1>
    <p><a href="{{ path('categoryEdit', {'id' : category.id}) }}">edit category</a></p>
    <table class="table table-borderless table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Words</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td style="white-space: nowrap;">
                    {{ post.date|date('l, F jS, Y') }}
                </td>
                <td style="width: 100%;">
                    <a href="{{ path('post', {'post' : post.id}) }}">{{ post.body[:40] ~ '...' }}</a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}