{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1><i class="fa fa-folder-open" aria-hidden="true"></i> Categories</h1>

        <p><a href="{{ path('newCategory') }}" class="btn btn-primary btn-lg">New Category</a></p>

        <ul class="list-group" style="display: table;">
            {% for category in categories %}
                {% if category.hide != true %}
                    <li class="list-group-item">
                        <a href="{{ path('getCategory', {'id' : category.id}) }}">{{ category.name }}</a>
                        <span class="badge" style="margin-left: 15px;">{{ category.post_count }}</span>
                    </li>
                {% endif %}
            {%  endfor %}
        </ul>

        <h2>Hidden</h2>
        <ul class="list-group" style="display: table;">
            {% for category in categories %}
                {% if category.hide == true %}
                    <li class="list-group-item">
                        <a href="{{ path('getCategory', {'id' : category.id}) }}">{{ category.name }}</a>
                        <span class="badge" style="margin-left: 15px;">{{ category.post_count }}</span>
                    </li>
                {% endif %}
            {%  endfor %}
        </ul>
    </div>
{% endblock %}