{% extends '::base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1><i class="fa fa-folder-open" aria-hidden="true"></i> {{ category.name }} <span class="badge">{{ posts|length }}</span></h1>
        <div>
            <a href="{{ path('editCategory', {'id' : category.id}) }}" class="btn btn-primary">Edit Category</a>
            <form action="{{ path('newPost') }}" method="POST" style="margin-top: 10px;">
                <input type="hidden" id="category_id" name="category_id" value="{{ category.id }}">
                <input type="submit" value="New Post" class="btn btn-primary" />
            </form>
        </div>
        {% if posts is not empty %}
            <table class="table table-borderless table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Words</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td style="white-space: nowrap;">
                            {{ post.date|date('l, F jS, Y') }}
                        </td>
                        <td style="width: 100%;">
                            <a href="{{ path('getPost', {'post' : post.id}) }}">{{ post.body[:40] ~ '...' }}</a>
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}